.rowForm {
    display: flex;
    flex-direction: row;
    margin: 10px auto 10px 5px;
}

span {
    margin-right: 5px;
}

fieldset {
    width: 80%;
}

form {
    height: auto;
}

input[type="submit"] {
    margin-right: 4px;
}