body {
    padding: 30px;
}

header {
    background: lightblue;
    grid-area: 1 / 1 / 2 / 3;
}

section {
    background: lightgreen;
    width: 1fr;
    grid-area: 2 / 1 / 3 / 2;
}

article {
    background: white;
    margin: 0 0 1rem 0;
}

aside {
    background: pink;
    width: 100%;
    background: pink;
    grid-area: 2 / 2 / 2 / 2;
}

header, article, section, .module {
    padding: 1rem;
}

main {
    display: grid;
    grid-template: 100px 1fr / 3fr 1fr;
}