body {
    padding: 30px;
}

.wrapper {
    display: flex;
    flex-direction: row-reverse;
}

header {
    background: lightblue;
}

section {
    background: lightgreen;
}

article {
    background: white;
    margin: 0 0 1rem 0;
}

aside {
    background: pink;
    flex: 300px;
    order: -1;
}

header, article, section, .module {
    padding: 1rem;
}

main {
    display: flex;
    flex-direction: column;
}