@import url('./src/fonts/Roboto-Regular.ttf');
html {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    width: 100%;
    height: 100%;
}

header, footer {
    height: 55px;
    width: 100%;
    background: #0067A3;
}

header {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

header, footer, main {
    min-width: 700px;
}

main {
    background: #0079BF;
    min-width: 500px;
    min-height: 500px;
    height: 100%;
    overflow-x: scroll;
    display: flex;
    min-width: 700px;
}

main::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

main::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

main::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgb(83, 83, 83);
}

.row-fragment {
    display: flex;
    justify-content: space-between;
    width: 32px;
    margin-bottom: 3px;
    vertical-align: middle;
}

.row-fragment .circle {
    width: 5px;
    height: 5px;
    background: transparent;
    border: 1px solid white;
    border-radius: 25px;
}

.row-fragment .line {
    width: 19px;
    height: 2px;
    background: white;
    margin-top: 3px;
}

.logo {
    width: 31px;
    height: 27px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
}

.app-logo span {
    font-size: 28px;
    line-height: 33px;
    color: #FFFFFF;
}

.app-logo {
    display: flex;
    justify-content: space-between;
    width: 384px;
    height: 45px;
    margin-left: 14px;
    align-items: center;
}

.user-menu {
    display: flex;
    align-items: center;
}

.user-menu .arrow {
    height: 8px;
    width: 12px;
}

.user-ivent {
    display: flex;
    margin-right: 6px;
    align-items: center;
}

.create-list {
    width: 181px;
    height: 33px;
    background: #FFFFFF;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 50px;
    border: 1px solid transparent;
}

.create-list span {
    margin-right: 10px;
    font-size: 18px;
}

.add {
    width: 22px;
    height: 22px;
}

.user {
    width: 39px;
    height: 39px;
    border-radius: 50%;
    background: #FFFFFF;
    position: relative;
    margin-right: 7px;
}

.user img {
    position: absolute;
    left: 5px;
    bottom: 0px;
}

footer {
    line-height: 21px;
    font-size: 18px;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .info {
    margin-right: 25px;
}

.task {
    display: flex;
    align-items: center;
    margin-left: 25px;
    font-size: 18px;
}

.reflected-arrow {
    transform: scaleY(-1);
}

.user-submenu {
    list-style: none;
    margin: 0;
    padding: 7px;
    border-radius: 5px;
    position: absolute;
    top: 50px;
    right: 0px;
    background: rgba(0, 0, 0, 0.486);
    color: black;
}

.user-submenu li {
    height: 20px;
    width: 80px;
    background: rgba(255, 255, 255);
    display: block;
    border: 1px solid transparent;
    border-radius: 5px;
    white-space: nowrap;
    text-align: left;
    padding: 3px 5px;
    margin-top: 5px;
}

.user-submenu li:hover, user-submenu li:focus {
    background: rgb(177, 193, 236);
}

a:link, a:active, a:visited {
    text-decoration: none;
    color: black;
}

.task-block {
    margin: 20px;
    max-width: 300px;
    min-width: 286px;
    width: 286px;
    height: min-content;
    max-height: 95%;
    background: #EBECF0;
    border-radius: 10px;
    display: flex;
    line-height: 21px;
    font-size: 18px;
    flex-direction: column;
}

.task-block button {
    padding: 2px 0px;
    border: 1px solid transparent;
    width: auto;
    background: transparent;
    font-size: 18px;
    line-height: 21px;
    color: #5E6C84;
    display: flex;
    margin-left: 12px;
    cursor: pointer;
}

.task-block button:disabled, .task-block button:disabled:hover {
    color: rgb(58, 67, 82);
    cursor: default;
    font-weight: 500;
}

.task-block button:hover {
    color: rgb(157, 181, 223);
    border-radius: 5px;
}

.task-block img {
    padding-right: 4px;
    padding-top: 2px;
}

.task-block .task-header {
    margin: 12px 12px 15px 12px;
    line-height: 21px;
    color: #000000;
    display: flex;
    justify-content: space-between;
}

.task-item, input, select {
    width: 85%;
    white-space: normal;
    word-wrap: break-word;
    color: #000000;
    margin: 0 12px 15px 12px;
    background: #FFFFFF;
    border-radius: 5px;
    padding: 7px;
}

select {
    cursor: pointer;
}

.body-backlog, .body-ready, .body-progress, .body-finished {
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 12px;
}

::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}

::-webkit-scrollbar {
    width: 12px;
    background-color: rgb(255, 255, 255);
}

::-webkit-scrollbar-thumb {
    height: 52px;
    width: 12px;
    border-radius: 5px;
    background-color: #CBCBCB;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(139, 136, 136);
}