button {
    height: 40px;
    width: 30px;
    background: #0000008c;
    color: #c2c2c2;
    border: 1px solid transparent;
    text-align: center;
    cursor: pointer;
}

img {
    height: 100%;
    width: 100%;
}

button:first-child {
    border-radius: 0 15% 15% 0;
}

button:last-child {
    border-radius: 15% 0 0 15%;
}

button:hover, button:focus {
    color: #6684d6;
    border: 1px solid #6684d6;
}

.slider {
    position: relative;
}

.slide {
    height: 300px;
    width: 500px;
    animation: fade 1.5s ease-in-out;
    overflow: hidden;
    position: absolute;
}

.slider-container {
    position: relative;
    height: 300px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    top: 100px;
}

.button-container {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 50%;
}

@keyframes fade {
    0% {
        opacity: 1;
        transform: scale(0.7);
    }
    50% {
        opacity: .4;
        transform: scale(1.1);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}