header {
    height: 55px;
    width: 100%;
    background: #0067A3;
}

header {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    min-width: 700px;
}

.row-fragment {
    display: flex;
    justify-content: space-between;
    width: 32px;
    margin-bottom: 3px;
    vertical-align: middle;
}

.row-fragment .circle {
    width: 5px;
    height: 5px;
    background: transparent;
    border: 1px solid white;
    border-radius: 25px;
}

.row-fragment .line {
    width: 19px;
    height: 2px;
    background: white;
    margin-top: 3px;
}

.logo {
    width: 31px;
    height: 27px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
}

.app-logo span {
    font-size: 28px;
    line-height: 33px;
    color: #FFFFFF;
}

.app-logo {
    display: flex;
    justify-content: space-between;
    width: 384px;
    height: 45px;
    margin-left: 14px;
    align-items: center;
}

.user-menu {
    display: flex;
    align-items: center;
}

.user-menu .arrow {
    height: 8px;
    width: 12px;
}

.user-ivent {
    display: flex;
    margin-right: 6px;
    align-items: center;
}

.create-list {
    width: 181px;
    height: 33px;
    background: #FFFFFF;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 50px;
    border: 1px solid transparent;
}

.create-list span {
    margin-right: 10px;
    font-size: 18px;
}

.add {
    width: 22px;
    height: 22px;
}

.user {
    width: 39px;
    height: 39px;
    border-radius: 50%;
    background: #FFFFFF;
    position: relative;
    margin-right: 7px;
}

.user img {
    position: absolute;
    left: 5px;
    bottom: 0px;
}

.reflected-arrow {
    transform: scaleY(-1);
}

.user-submenu {
    list-style: none;
    margin: 0;
    padding: 7px;
    border-radius: 5px;
    position: absolute;
    top: 50px;
    right: 0px;
    background: rgba(0, 0, 0, 0.486);
    color: black;
}

.user-submenu li {
    height: 20px;
    width: 80px;
    background: rgba(255, 255, 255);
    display: block;
    border: 1px solid transparent;
    border-radius: 5px;
    white-space: nowrap;
    text-align: left;
    padding: 3px 5px;
    margin-top: 5px;
}

.user-submenu li:hover, user-submenu li:focus {
    background: rgb(177, 193, 236);
}

a:link, a:active, a:visited {
    text-decoration: none;
    color: black;
}