.loader {
    width: 50px;
    height: 60px;
    position: relative;
    left: 20px;
}

.loader div {
    background-color: #c40c8c;
    height: 100%;
    width: 6px;
    display: inline-block;
    animation: loader 1.6s infinite ease-in-out;
}

.loader .item-2 {
    animation-delay: -1.1s;
}

.loader .item-3 {
    animation-delay: -1.0s;
}

.loader .item-4 {
    animation-delay: -0.9s;
}

.loader .item-5 {
    animation-delay: -0.8s;
}

@keyframes loader {
    0%, 40%, 100% {
        transform: scaleY(0.4)
    }
    20% {
        transform: scaleY(1.0)
    }
}

.ball-container {
    margin-top: 50px;
    position: relative;
    width: 300px;
    height: 100px;
}

.ball {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #c40c8c;
    animation: ball 1s linear infinite, ball-direction 1s linear infinite;
}

.block-container {
    top: 80%;
    left: 0;
    position: absolute;
    display: flex;
    width: 190px;
    justify-content: space-between;
    align-items: flex-end;
}

.block {
    height: 30px;
    width: 30px;
    background: black;
}

@keyframes ball {
    0% {
        bottom: 100%;
    }
    15% {
        bottom: 0;
        width: 60px;
        height: 40px;
    }
    35% {
        bottom: 100%;
        width: 50px;
        height: 50px;
    }
    70% {
        bottom: 0;
        width: 60px;
        height: 40px;
    }
    100% {
        bottom: 100%;
    }
}

@keyframes ball-direction {
    0% {
        left: 0;
    }
    50% {
        left: 50%;
    }
    100% {
        left: 100%;
    }
}

.infinityAnimation {
    margin: 50px;
    height: 100px;
    width: 100px;
    position: relative;
    animation: infinityAnimation 14s linear infinite;
    z-index: 1;
}

.infinityAnimation::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient( 45deg, rgb(223, 137, 39), rgb(5, 36, 102));
    z-index: -1;
    opacity: 0;
    animation: gradient 14s linear infinite;
}

@keyframes gradient {
    0% {
        opacity: 0;
        border-radius: 50%;
    }
    15% {
        border-radius: 0;
    }
    30% {
        opacity: 1;
    }
    75% {
        border-radius: 0;
        opacity: 0;
    }
    100% {
        opacity: 1;
        border-radius: 50%;
    }
}

@keyframes infinityAnimation {
    0% {
        background: linear-gradient(45deg, rgb(204, 101, 94), rgb(90, 147, 173));
        border-radius: 50%;
    }
    15% {
        border-radius: 0;
    }
    45% {
        border-radius: 0;
        transform: scale(2);
    }
    60% {
        border-radius: 0;
        transform: rotate(360deg);
    }
    75% {
        border-radius: 0;
        background: linear-gradient(90deg, rgb(150, 17, 17), rgb(5, 36, 102));
    }
    100% {
        background: linear-gradient(45deg, rgb(204, 101, 94), rgb(90, 147, 173));
        border-radius: 50%;
    }
}